# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDEA files
.idea
*.iml

# Ignore database dumps
*.xml

# Ignore local.properties file with secrets
local.properties